{% extends "layouts/base.html" %}

{% block content %}

{% set hasCaseStudyMeta = clientLogo or clientName or year or featured %}

<div class="layout" data-layout="athens">

<div>
{% if image %}<figure>
<img src="{{ image }}" alt="{{ title }}">
</figure>{% endif %}

{% if hasCaseStudyMeta %}
{% if clientLogo %}<img src="{{ clientLogo }}" alt="{{ clientName or title }}" data-variant="logo">{% endif %}

<small class="alt-meta">
{% if title %}{{ title }} &#9650; {% endif %}

{% if clientName %}
{% if projectUrl %}<a href="{{ projectUrl }}">{{ clientName }}</a>{% else %}{{ clientName }}{% endif %}
{% endif %}

{% if year %}
{% if clientName %} &#9650; {% endif %}{{ year }}
{% endif %}

{% if featured %}
{% if clientName or year %} &#9650; {% endif %}Featured
{% endif %}
</small>
{% endif %}

<h1 data-size="3xl">{{ lede }}</h1>

{% if summary %}<p>{{ summary }}</p>{% endif %}

{% if summarySection and summarySection.items %}
<table>
{% for summaryItem in summarySection.items %}<tr>
<th scope="row">{{ summaryItem.summaryTitle }}</th>
<td>{{ summaryItem.summaryText }}</td>
</tr>{% endfor %}
</table>
{% endif %}

{{ content | safe }}

{% if quotation %}
<blockquote data-variant="m">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 48"><path fill="#000" d="M35.538 45V18.161a3 3 0 0 1 .721-1.95L49.237 1.048A3 3 0 0 1 51.516 0h8.223a3 3 0 0 1 2.339 4.88l-6.371 7.925a3 3 0 0 0 2.338 4.88H63a3 3 0 0 1 3 3V45a3 3 0 0 1-3 3H38.538a3 3 0 0 1-3-3M0 45V18.161a3 3 0 0 1 .72-1.95L13.699 1.048A3 3 0 0 1 15.978 0H24.2a3 3 0 0 1 2.338 4.88l-6.37 7.925a3 3 0 0 0 2.338 4.88h4.955a3 3 0 0 1 3 3V45a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3"/></svg>
<p>{{ quotation }}</p>
</blockquote>
{% endif %}

</div><!-- one -->

<div>
{% if categories and categories.length %}
<h3>Categories</h3>
<ul class="alt-">
{% for category in categories %}
<li><a href="/case-studies/category/{{ category | slug }}/">{{ category }}</a></li>
{% endfor %}
</ul>
{% endif %}

<hr>


{% if result %}
<h2>The result</h2>
{{ result | markdown | safe }}
{% endif %}

<hr>

{% if whatChanged and whatChanged.items %}
<h2>What changed</h2>
<ul>
{% for changedItem in whatChanged.items %}
{% if changedItem.listItem %}<li>{{ changedItem.listItem }}</li>{% endif %}
{% endfor %}
</ul>
{% endif %}

<hr>

<h3>More stories</h3>

{% set otherCaseStudies = helpers.getSiblingContent(collections.caseStudiesItems, page, 2, false) %}
{% for caseStudy in otherCaseStudies %}
<article class="item-case-study-list">
<h3><a href="{{ caseStudy.url }}">{{ caseStudy.data.title }}</a></h3>
{% if caseStudy.data.summary %}<p>{{ caseStudy.data.summary }}</p>{% endif %}
</article>
{% endfor %}

</div><!-- two -->

</div><!-- layout -->

{% endblock %}
