{% extends "layouts/base.html" %}

{% block content %}

{% set featuredCaseStudy = collections.featuredCaseStudies[0] or collections.caseStudiesItems[0] %}

<h1 data-visibility="hidden">{{ title }}</h1>



<div class="layout" data-layout="stockholm">

<div>
{% if featuredCaseStudy %}
<article class="alt-promo">

{% if featuredCaseStudy.data.image %}<figure>
<a href="{{ featuredCaseStudy.url }}"><img src="/images/{{ featuredCaseStudy.data.image }}" alt="{{ featuredCaseStudy.data.title }}"></a>
</figure>{% endif %}

<small class="alt-meta">{{ featuredCaseStudy.data.clientName }}</small>
<h2 data-size="3xl"><a href="{{ featuredCaseStudy.url }}">{{ featuredCaseStudy.data.title }}</a></h2>

{% if featuredCaseStudy.data.summary %}
{% if featuredCaseStudy.data.summary %}<p>{{ featuredCaseStudy.data.summary }}</p>{% endif %}
{% endif %}

{% set archiveStats = featuredCaseStudy.data.archiveStats %}
{% include "partials/case-study-archive-stats.html" %}

<div class="btn-cta" data-variation="icon">
{% include "partials/svgs/icon-logomark.svg" %}
<a href="{{ featuredCaseStudy.url }}" class="btn" data-variant="secondary">Read the client story</a>
</div><!-- btn-cta -->
</article>
{% endif %}

</div><!-- one -->

<div>
{% if archiveIntroSection %}
<h3 data-size="xl">{{ archiveIntroSection.title }}</h3>
<p>{{ archiveIntroSection.text }}</p>

<div class="btn-cta">
<a href="{{ archiveIntroSection.buttonUrl }}" class="btn">{{ archiveIntroSection.buttonText }}</a>
</div><!-- btn-cta -->
{% endif %}

<hr>

{% if archiveSubscribeSection %}
<h3 data-size="xl">{{ archiveSubscribeSection.title }}</h3>
<p>{{ archiveSubscribeSection.text }}</p>
<div class="btn-cta">
<a href="{{ archiveSubscribeSection.buttonUrl }}" class="btn" data-variant="secondary">{{ archiveSubscribeSection.buttonText }}</a>
</div><!-- btn-cta -->
{% endif %}

</div><!-- two -->

</div><!-- layout -->

<div data-layout="grid" data-variation="bordered" data-opposite="true">
{% set caseStudyItems = collections.caseStudiesItems %}
{% set excludeCaseStudyUrl = featuredCaseStudy.url if featuredCaseStudy else "" %}
{% include "partials/case-studies-list.html" %}
</div><!-- grid -->
{% endblock %}
