{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en" data-theme="reversed">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

{% include "partials/header.html" %}

<div class="layout" data-layout="amsterdam">
<div>
<h1 data-size="3xl">{{ title }}</h1>
</div><!-- one -->
</div><!-- layout -->



<div class="layout" data-layout="dublin">

<div>
{% if lede %}<p class="alt-lede">{{ lede}}</p>{% endif %}
</div><!-- one -->

<div>
<form action="/thanks/" class="contact-form" data-netlify="true" method="POST" name="contact-form" netlify-honeypot="bot-field">
<input type="hidden" name="form-name" value="contact-form">
<p hidden>
<label>Don&#8217;t fill this out: <input name="bot-field"></label>
</p>

<div data-layout="flex">

<div>
<label for="contact-name">Name</label>
<input type="text" name="contact-name" id="contact-name" required>
</div><!-- one -->

<div>
<label for="contact-company">Company <span>(Optional)</span></label>
<input type="text" name="contact-company" id="contact-company">
</div><!-- two -->

</div><!-- layout -->

<div data-layout="flex">

<div>
<label for="contact-email">Email</label>
<input type="email" name="contact-email" id="contact-email" required>
</div><!-- one -->

<div>
<label for="contact-tel">Phone</label>
<input type="tel" name="contact-tel" id="contact-tel">
</div><!-- two -->

</div><!-- layout -->

<div>
<label for="contact-message">Message</label>
<textarea name="contact-message" id="contact-message"></textarea>
</div>

<div class="alt-flex">
<p>We will only use your details to reply to your message.</p>
<button class="btn">Send message</button>
</div><!-- alt-flex -->

</form>
</div><!-- two -->

<div>
{% if site.copyrightOwner %}<p class="alt-uppercase"><b>{{ site.copyrightOwner }}</b></p>{% endif %}

{% if site.email %}<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>{% endif %}

<ul class="alt-">
<li>1 Waterhouse Square</li>
<li>Holborn,</li>
<li>London,</li>
<li>EC1N 2ST</li>
</ul>

{% set hasAddress = site.address1 or site.address2 or site.townCity or site.countyState or site.country %}
{% if hasAddress %}<ul class="alt-">{% endif %}

{% if site.address1 %}<li>{{ site.address1 }}</li>{% endif %}
{% if site.address2 %}<li>{{ site.address2 }}</li>{% endif %}
{% if site.townCity %}<li>{{ site.townCity }}</li>{% endif %}
{% if site.countyState %}<li>{{ site.countyState }}</li>{% endif %}
{% if site.country %}<li>{{ site.country }}</li>{% endif %}
{% if site.postalZipCode %}<li>{{ site.postalZipCode }}</li>{% endif %}
{% if hasAddress %}</ul>{% endif %}

{% if site.telephone %}<p>{{ site.telephone }}</p>{% endif %}

{% include "partials/socials.html" %}
</div><!-- three -->

</div><!-- layout -->



{% include "partials/footer.html" %}

<script src="{{ site.assetPath }}/js/scripts.js"></script>
</body>

</html>
