{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

<div data-style="reversed">

{% include "partials/header.html" %}

<div class="introduction">

<div>

<h1 data-size="3xl">{{ lede }}</h1>

<div class="introduction-content">
{% if aside %}{{ aside | markdown | safe }}{% endif %}

<div class="btn-cta">
<a href="/contact" class="btn">Discuss a project</a>
<a href="/client-stories/" class="btn" data-variant="secondary">See proof</a>
</div><!-- btn-cta -->

</div><!-- introduction-content -->

</div><!-- one -->

<div>
{% include "partials/svgs/img-index-1.svg" %}
</div><!-- two -->

</div><!-- introduction -->



{% set selectedCaseStudyPromos = collections.caseStudiesItems | selectCaseStudies(caseStudyPromos) %}

{% if homeStats %}
<div class="layout" data-layout="vilnius">

<div>
<h2>{{ homeStats.title }}</h2>
{% if homeStats.text %}<p class="alt-lede">{{ homeStats.text }}</p>{% endif %}
</div><!-- one -->

{% for item in homeStats.items %}
<div class="alt-stats">
<div>
<span class="alt-numeral">{{ item.value }}</span>
{% if item.label %}<span class="alt-label">{{ item.label }}</span>{% endif %}
</div>

{% if item.description %}<p>{{ item.description }}</p>{% endif %}
</div><!-- alt-stats -->
{% endfor %}

</div><!-- layout -->
{% endif %}

</div><!-- reversed -->




<div class="layout" data-layout="amsterdam">

{% if selectedCaseStudyPromos[0] %}
{% set caseStudyPromo = selectedCaseStudyPromos[0] %}
{% include "partials/case-study-promo.html" %}
{% endif %}

</div><!-- layout -->




{% if experienceSection %}
<div id="section-experience" class="layout" data-layout="paris">

<div>
<h2 data-size="2xl">{{ experienceSection.title }}</h2>
{% if experienceSection.text %}<p class="alt-lede">{{ experienceSection.text }}</p>{% endif %}
</div><!-- one -->

<div data-layout="grid" data-variation="dividers">
{% for item in experienceSection.items %}
<div>
<h3>{{ item.title }}</h3>
{% if item.text %}<p>{{ item.text }}</p>{% endif %}
</div>
{% endfor %}
</div><!-- two -->

</div><!-- layout -->
{% endif %}





<div id="section-services" class="layout" data-layout="paris">

<div>
{% if servicesSection %}
<h2 data-size="2xl">{{ servicesSection.title }}</h2>
{% if servicesSection.lede %}<p class="alt-lede">{{ servicesSection.lede }}</p>{% endif %}
{% if servicesSection.text %}<p>{{ servicesSection.text }}</p>{% endif %}
{% endif %}
</div><!-- one -->


<div data-layout="grid" data-variation="dividers">
{% for item in collections.servicesItems %}
<div>
<h3>{{ item.data.title }}</h3>
{% if item.data.summary %}<p>{{ item.data.summary }}</p>{% endif %}
</div>
{% endfor %}
</div><!-- two -->

</div><!-- layout -->





{% if energyExperienceSection %}

<div class="layout" data-layout="stockholm">

<div>
<h2 data-size="2xl">{{ energyExperienceSection.title }}</h2>
{% if energyExperienceSection.text %}<p class="alt-lede">{{ energyExperienceSection.text }}</p>{% endif %}
</div><!-- one -->

</div><!-- layout -->
{% endif %}





<div id="section-sectors" class="layout" data-layout="vilnius" data-variation="bordered" data-opposite="true">

{% for item in collections.sectorsItems %}<div>
<h3>{{ item.data.title }}</h3>
{% if item.data.summary %}<p>{{ item.data.summary }}</p>{% endif %}
</div>{% endfor %}

</div><!-- layout -->





<div class="layout" data-layout="amsterdam">

{% if selectedCaseStudyPromos[1] %}
{% set caseStudyPromo = selectedCaseStudyPromos[1] %}
{% include "partials/case-study-promo.html" %}
{% endif %}

</div><!-- layout -->





{% include "partials/footer.html" %}

<script src="{{ site.assetPath }}/js/scripts.js"></script>
</body>

</html>
