{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

<h1 data-size="3xl">{{ pageHeaderTitle }}</h1>


<div class="layout" data-layout="stockholm">

<div class="layout" data-layout="zagreb">

{% for member in collections.team %}
<article class="item-team">

{% if member.data.image %}
<figure>
{% if member.url %}<a href="{{ member.url }}">{% endif %}<img src="/images/{{ member.data.image }}" alt="{{ member.data.name }}">{% if member.url %}</a>{% endif %}
{% if member.data.role %}<figcaption>{{ member.data.role }} {% if member.data.location %}• {{ member.data.location }}{% endif %}</figcaption>{% endif %}
</figure>
{% endif %}

<h2><a href="{{ member.url }}">{{ member.data.name }}</a> {% if member.data.qualifications %}<small style="display:inline;">{{ member.data.qualifications }}</small>{% endif %}</h2>

{% if member.data.summary %}<p>{{ member.data.summary }}</p>{% endif %}

<p>{% if member.data.email %}<a href="mailto:{{ member.data.email }}">{% include "partials/icons/icon-email.svg" %}<span data-visibility="hidden">Email</span></a>{% endif %}

{% if member.data.url %}<a href="{{ member.data.url }}">{% include "partials/icons/icon-url.svg" %}<span data-visibility="hidden">Website</span></a>{% endif %}

{% if member.data.linkedin %}<a href="{{ member.data.linkedin }}">{% include "partials/icons/icon-linkedin.svg" %}<span data-visibility="hidden">LinkedIn</span></a>{% endif %}</p>
</article>
{% endfor %}

</div><!-- one layout -->

<div>

{% if aboutTitle %}<h3>{{ aboutTitle }}</h3>{% endif %}
{% if aboutSummary %}{{ aboutSummary | markdown | safe }}{% endif %}

<hr>

{% if careersTitle %}<h3>{{ careersTitle }}</h3>{% endif %}
{% if careersSummary %}{{ careersSummary | markdown | safe }}{% endif %}

<div class="btn-cta">
<a href="/careers/" class="btn" data-variant="secondary">Careers</a>
<a href="https://apply.workable.com/lockrose-limited/" class="btn">Available vacancies</a>
</div><!-- btn-cta -->

</div><!-- two -->

</div><!-- layout -->






{% endblock %}
