{% if archiveStats and archiveStats.items %}
{% for stat in archiveStats.items %}
{% if loop.index0 % 3 == 0 %}<div data-layout="flex">{% endif %}

<div class="alt-stats">
<div>
{% if stat.value %}<span class="alt-numeral">{{ stat.value }}</span>{% endif %}
{% if stat.label %}<span class="alt-label">{{ stat.label }}{% endif %}</span>
</div>
{% if stat.description %}<p>{{ stat.description }}</p>{% endif %}
</div><!-- alt-stats -->

{% if loop.index0 % 3 == 2 or loop.last %}</div><!-- layout -->{% endif %}
{% endfor %}
{% endif %}
